body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Helvetica, sans-serif;
  background: url("../img/bg.jpg") top center;
  color: #ff6331;
  padding-top: 60px;
}
row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.relative {
  position: relative;
}
.no-margin-top {
  margin-top: 0 !important;
}
.margin-right-20 {
  margin-right: 20px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-50 {
  margin-top: 50px !important;
}
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.primary-button {
  border: 0;
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #00b68f;
  text-align: center;
  color: #fff;
  font-weight: normal;
  line-height: 50px;
  padding: 0 40px;
  font-size: 30px;
}
.primary-button.highlight {
  color: #ffcf46;
}
.primary-button:hover,
.primary-button:focus {
  color: #fff;
  text-decoration: none;
  background-color: #00a481;
}
.primary-button:hover.highlight,
.primary-button:focus.highlight {
  color: #ffcf46;
}
.primary-action-button {
  border: 0;
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #ff6331;
  text-align: center;
  color: #fff;
  font-weight: normal;
  line-height: 50px;
  padding: 0 40px;
  font-size: 30px;
}
.primary-action-button.highlight {
  color: #ffcf46;
}
.primary-action-button:hover,
.primary-action-button:focus {
  text-decoration: none;
  color: #fff;
  background-color: #ff4c13;
}
.primary-action-button:hover.highlight,
.primary-action-button:focus.highlight {
  color: #ffcf46;
}
.secondary-button {
  border: 0;
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #ffcf46;
  text-align: center;
  color: #ff6331;
  font-weight: normal;
  line-height: 50px;
  padding: 0 40px;
  font-size: 30px;
}
.secondary-button:hover,
.secondary-button:focus {
  text-decoration: none;
  color: #ff6331;
  background-color: #ffc726;
}
.obs-text {
  color: #939598;
}
@media (min-width: 992px) {
  body {
    padding-top: 140px;
  }
  .f-right {
    float: right !important;
  }
}
.frutalica .main-carousel .carousel-indicators li {
  border-color: #ff6331;
  border-width: 2px;
  width: 14px;
  height: 14px;
}
.frutalica .main-carousel .carousel-indicators li.active {
  width: 16px;
  height: 16px;
  background: #ff6331;
}
.frutalica .faq-carousel {
  background: #ffcf46;
  margin: 30px 0;
  padding: 30px 0;
}
.frutalica .faq-carousel .faq-carousel--item--description {
  padding: 20px 30px;
}
.frutalica .faq-carousel .carousel-indicators {
  right: 4px;
  bottom: auto;
  left: auto;
  top: 40px;
  width: 40px;
  counter-reset: section;
}
.frutalica .faq-carousel .carousel-indicators li::before {
  counter-increment: section;
  content: "0" counters(section, ".");
}
.frutalica .faq-carousel .carousel-indicators li {
  text-indent: 0;
  border: none;
  background: none;
  width: 40px;
  text-align: right;
  height: auto;
  display: block;
  color: #ff6331;
  margin: 30px 0;
  font-size: 16px;
}
.frutalica .faq-carousel .carousel-indicators li.active {
  color: #fff;
}
@media (min-width: 992px) {
  .frutalica .faq-carousel {
    background: #ffcf46;
    margin: 60px 0;
    padding: 60px 0;
  }
  .frutalica .faq-carousel .faq-carousel--item--description {
    padding: 20px 30px;
  }
  .frutalica .faq-carousel .carousel-indicators {
    right: 10px;
    bottom: auto;
    left: auto;
    top: 0px;
    width: 40px;
    counter-reset: section;
  }
  .frutalica .faq-carousel .carousel-indicators li::before {
    counter-increment: section;
    content: "0" counters(section, ".");
  }
  .frutalica .faq-carousel .carousel-indicators li {
    text-indent: 0;
    border: none;
    background: none;
    width: 40px;
    text-align: center;
    height: auto;
    display: block;
    color: #ff6331;
    margin: 50px 0;
    font-size: 26px;
    font-weight: bold;
  }
  .frutalica .faq-carousel .carousel-indicators li.active {
    color: #fff;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Francois One', sans-serif;
}
h1 {
  font-size: 41px;
}
.font-md {
  font-size: 23px;
  line-height: 150%;
}
.delivery-time {
  margin: 60px 0;
}
.delivery-time .delivery-time--line {
  display: none;
  z-index: 1;
  position: absolute;
  top: 14px;
  height: 2px;
  width: 100%;
  background: #ff6331;
}
#map {
  width: 100%;
  min-height: 300px;
}
@media (min-width: 992px) {
  .delivery-time .delivery-time--line {
    display: block;
  }
}
.my-account .text-right {
  text-align: center;
}
.my-account .primary-button,
.my-account .primary-action-button {
  margin: 10px 0;
}
.my-account .primary-button.margin-right-20,
.my-account .primary-action-button.margin-right-20 {
  margin-right: 0 !important;
}
.my-account .my-account--title {
  color: #fff;
  background: #ff6331;
  margin-bottom: 50px;
  margin-top: -3px;
}
.my-account .my-account--options {
  text-align: center;
}
.my-account .my-account--options li {
  margin: 25px 35px;
}
.my-account hr {
  border-width: 2px;
  margin: 60px 0;
  border-color: #ff6331;
}
.my-account textarea {
  display: block;
  background: transparent;
  border: 2px solid #ff6331;
  padding: 10px;
  color: #ff6331;
  width: 100%;
}
.my-account .monthly .monthly--info {
  padding-left: 30px;
}
.my-account .monthly .monthly--title {
  display: inline-block;
  font-size: 24px;
  line-height: 60px;
  font-weight: bold;
  font-family: 'PT Sans', Helvetica, sans-serif;
  cursor: pointer;
  color: #ff6331;
}
.my-account .monthly hr {
  border-width: 2px;
  margin: 30px 0;
  border-color: #ff6331;
}
@media (min-width: 992px) {
  .my-account .text-right {
    text-align: right;
  }
  .my-account .primary-button.margin-right-20,
  .my-account .primary-action-button.margin-right-20 {
    margin-right: 20px !important;
  }
  .my-account .my-account--title {
    margin-top: -28px;
  }
}
.form {
  width: 100%;
}
.form .form--row {
  overflow: hidden;
  margin: 10px 0;
}
.form .form--row span {
  display: block;
  overflow: hidden;
  padding: 0 5px;
}
.form .form--row .form--value,
.form .form--row .form--label {
  font-size: 18px;
  margin: 0;
  line-height: 38px;
}
.form .form--row .form--label {
  float: left;
  font-weight: normal;
}
.form .form--row .form--label small {
  font-size: 12px;
  display: block;
}
.form .form--row .form--label.with-sub {
  line-height: 100%;
}
.form .form--row .form--value {
  font-weight: bold;
}
.form .form--row input,
.form .form--row select {
  width: 100%;
  border: none;
  background: transparent;
  font-size: 18px;
  line-height: 25px;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}
.form .form--row select {
  padding-right: 20px;
  -webkit-appearance: none; /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  background-image: url("../img/form/arrow_red.png"); /*Adds background-image*/
  background-repeat: no-repeat;
  background-position: right center; /*Position of the background-image*/
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: ""; /*Removes default arrow from firefox*/
}
.form .btn--outline {
  display: inline-block;
  line-height: 38px;
  border: 2px solid #ff6331;
  color: #ff6331;
  font-size: 18px;
  padding: 0 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.form .btn--outline:hover,
.form .btn--outline:focus {
  text-decoration: none;
}
.form--radio .form--radio--option {
  font-weight: normal;
  margin: 30px 0 0 0;
}
.form--radio .form--radio--input {
  vertical-align: middle;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-width: 2px;
  border-color: #ff6331;
  border-style: solid;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #fff;
}
.form--radio .form--radio--input input {
  display: none;
}
.form--radio .form--radio--input.checked {
  background: #ff6331;
}
.form--radio .form--radio--label {
  cursor: pointer;
  display: block;
  font-size: 23px;
}
.form--radio .form--radio--label.inline {
  margin-left: 6px;
  vertical-align: middle;
  display: inline-block;
}
@media (min-width: 992px) {
  .form .form--row {
    overflow: hidden;
    margin: 10px 0;
  }
  .form .form--row span {
    display: block;
    overflow: hidden;
    padding: 0 5px;
  }
  .form .form--row .form--value,
  .form .form--row .form--label {
    font-size: 22px;
    margin: 0;
    line-height: 38px;
  }
  .form .form--row .form--label {
    float: left;
    font-weight: normal;
  }
  .form .form--row .form--label small {
    font-size: 14px;
    display: block;
  }
  .form .form--row .form--label.with-sub {
    line-height: 100%;
  }
  .form .form--row .form--value {
    font-weight: bold;
  }
  .form .form--row input,
  .form .form--row select {
    width: 100%;
    border: none;
    background: transparent;
    font-size: 24px;
    line-height: 40px;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
  }
  .form .form--row select {
    padding-right: 20px;
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    background-image: url("../img/form/arrow_red.png"); /*Adds background-image*/
    background-repeat: no-repeat;
    background-position: right center; /*Position of the background-image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: ""; /*Removes default arrow from firefox*/
  }
  .form .form--radio .form--radio--option {
    margin: 0;
  }
}
.plan-table {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}
.plan-table th {
  color: #ffcf46;
  width: 20%;
  font-weight: normal;
}
.plan-table td {
  color: #fff;
}
.plan-table th,
.plan-table td {
  padding: 40px 20px;
  text-align: center;
  font-size: 32px;
}
.plan-table thead tr {
  background-color: #00b68f;
}
.plan-table tbody tr {
  background-color: #00dbac;
}
.plan-table tbody tr.even,
.plan-table tbody tr:nth-child(even) {
  background-color: #00b68f;
}
.primary-action-color {
  color: #ff6331;
}
.primary-color {
  color: #00b68f;
}
.highlight-color {
  color: #ffcf46;
}
.bg-highlight-color {
  background: #ffcf46;
}
.options .option {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 40px 0;
  width: 100%;
  height: 306px;
  position: relative;
}
.options .option .option-title,
.options .option .option-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.options .option .option-title {
  display: none;
  padding-top: 40px;
  text-align: center;
}
.options .option .option-description {
  display: block;
  padding: 15px;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,0.5);
}
.options .option .option-description h2 {
  font-size: 25px;
}
.options .option .option-description ul li {
  padding: 3px 0;
  font-size: 20px;
}
.options .option .option-description .option-description-price {
  color: #ffcf46;
  font-size: 32px;
}
.options .option-p {
  background-image: url("../img/options/p/bg.jpg");
}
.options .option-m {
  background-image: url("../img/options/m/bg.jpg");
}
.options .option-g {
  background-image: url("../img/options/g/bg.jpg");
}
@media (min-width: 992px) {
  .frutalica .options .option {
    width: 306px;
  }
  .frutalica .options .option .option-title {
    display: block;
  }
  .frutalica .options .option .option-description {
    display: none;
  }
  .frutalica .options .option:hover .option-description {
    display: block;
  }
  .frutalica .options .option:hover .option-title {
    display: none;
  }
}
.frutalica .navbar {
  font-family: 'Francois One', sans-serif;
  min-height: 50px;
  border: none;
  border-bottom: 3px solid #ff6331;
  background: url("../img/bg.jpg") top center;
  background-size: cover;
}
.frutalica .navbar .logo-header-default {
  display: inline-block;
  background: url("../img/logo-header.png") no-repeat center center;
  height: 106px;
  width: 80px;
}
.frutalica .navbar .logo-header-mini {
  display: inline-block;
  background: url("../img/logo-header-mini.png") no-repeat center center;
  height: 50px;
  width: 50px;
}
.frutalica .navbar .main-menu {
  display: table;
  width: 100%;
}
.frutalica .navbar .main-menu .main-menu--left,
.frutalica .navbar .main-menu .main-menu--right,
.frutalica .navbar .main-menu .main-menu--logo {
  display: inline-block;
  vertical-align: top;
}
.frutalica .navbar .main-menu .main-menu--left,
.frutalica .navbar .main-menu .main-menu--right {
  width: 46%;
}
.frutalica .navbar .main-menu .main-menu--logo {
  width: 8%;
}
.frutalica .navbar .main-menu .main-menu--item {
  display: inline-block;
  padding: 40px 9px 0 9px;
}
.frutalica .navbar .main-menu .main-menu--item .main-menu--item--link {
  color: #00b68f;
  font-size: 20px;
}
.frutalica .navbar .sign-up {
  display: inline-block;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  background-color: #ff6331;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 38px;
  padding: 0 20px;
  font-size: 20px;
}
.frutalica .navbar .sign-up:hover {
  text-decoration: none;
  background-color: #ff4c13;
}
@media (min-width: 992px) {
  .frutalica .navbar {
    min-height: 106px;
  }
  .frutalica .navbar .main-menu .main-menu--item {
    display: inline-block;
    padding: 40px 30px 0 30px;
  }
  .frutalica .navbar .main-menu .main-menu--item .main-menu--item--link {
    color: #00b68f;
  }
}
@media (max-width: 990px) {
  .frutalica .navbar-header {
    float: none;
  }
  .frutalica .navbar-toggle {
    display: block;
  }
  .frutalica .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .frutalica .navbar-collapse.collapse {
    display: none !important;
  }
  .frutalica .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .frutalica .navbar-nav > li {
    float: none;
  }
  .frutalica .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.call-to-action {
  margin-top: 55px;
}
.call-to-action .call-to-action--title {
  margin-top: 40px;
  margin-bottom: 25px;
}
.call-to-action .call-to-action--button {
  margin-top: 30px;
  display: block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #ff6331;
  text-align: center;
  color: #ffcf46;
  font-weight: bold;
  line-height: 60px;
  padding: 0 40px;
  font-size: 30px;
}
.call-to-action .call-to-action--button:hover {
  text-decoration: none;
  background-color: #ff4c13;
}
@media (min-width: 992px) {
  .call-to-action .call-to-action--button {
    margin-top: 110px;
  }
  .call-to-action .call-to-action--title {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .call-to-action .call-to-action--description {
    padding-left: 30px;
  }
  .call-to-action .call-to-action--button {
    display: inline-block;
    margin-left: 30px;
  }
}
.plans hr {
  border-width: 2px;
  margin: 40px 0;
}
.plans.basket--bg {
  background-repeat: no-repeat;
  background-position: right -15px;
  background-size: 120%;
}
.plans .form {
  margin: 40px 0;
}
.plans .plan {
  min-height: 640px;
  padding-top: 80px;
}
.plans .plan .plan--title {
  vertical-align: middle;
  display: inline-block;
}
.plans .plan .plan--title .p,
.plans .plan .plan--title .m,
.plans .plan .plan--title .g {
  display: none;
}
.plans .plan .plan--price {
  vertical-align: middle;
  display: inline-block;
  font-family: 'Francois One', sans-serif;
  width: auto;
  font-weight: normal;
}
.plans .plan .plan--price .p,
.plans .plan .plan--price .m,
.plans .plan .plan--price .g {
  display: none;
}
.plans .plan .plan--price small {
  font-size: 24px;
}
.plans .plan .plan--description {
  padding: 0;
  font-size: 23px;
  line-height: 150%;
}
.plans .plan .plan--description [class^="plan--description"] {
  display: none;
}
.plans .plan .plan--options {
  margin: 20px 0;
  text-align: center;
}
.plans .plan .plan--options li {
  vertical-align: middle;
}
.plans .plan .plan--options .plan--option {
  display: block;
  width: 74px;
  height: 68px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.plans .plan .call-to-action--button {
  margin-top: 30px;
  display: block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #ff6331;
  text-align: center;
  color: #ffcf46;
  font-weight: bold;
  line-height: 50px;
  padding: 0 40px;
  font-size: 30px;
}
.plans .plan .call-to-action--button:hover {
  text-decoration: none;
  background-color: #ff4c13;
}
.plans.p {
  color: #ff6331;
}
.plans.p h1,
.plans.p h2,
.plans.p h3,
.plans.p h5 {
  color: #ff6331;
}
.plans.p hr {
  border-color: #ff6331;
}
.plans.p .btn--outline {
  border-color: #ff6331;
  color: #ff6331;
}
.plans.p .form .form--row input {
  border-bottom-color: #ff6331;
}
.plans.p .plan .plan--title .p {
  display: block;
}
.plans.p .plan .plan--price .p {
  color: #ff6331;
  display: inline-block;
}
.plans.p .plan .plan--price .p small {
  color: #ff6331;
}
.plans.p .plan .plan--title .m,
.plans.p .plan .plan--title .g,
.plans.p .plan .plan--price .m,
.plans.p .plan .plan--price .g {
  display: none;
}
.plans.p .plan--options .plan--option--p {
  width: 104px;
  height: 102px;
  background-image: url("../img/plans/icon/p_active_yellow.png");
}
.plans.p .plan--options .plan--option--m {
  background-image: url("../img/plans/icon/m_small_yellow.png");
}
.plans.p .plan--options .plan--option--g {
  background-image: url("../img/plans/icon/g_small_yellow.png");
}
.plans.p .plan--description .plan--description--p {
  display: block;
}
.plans.p.basket--bg {
  background-image: url("../img/plans/bg/small.png");
}
.plans.m {
  color: #00b68f;
}
.plans.m h1,
.plans.m h2,
.plans.m h3,
.plans.m h5 {
  color: #00b68f;
}
.plans.m hr {
  border-color: #00b68f;
}
.plans.m .btn--outline {
  border-color: #00b68f;
  color: #00b68f;
}
.plans.m .delivery-time .delivery-time--line {
  background: #00b68f;
}
.plans.m .form--radio .form--radio--input {
  border-color: #00b68f;
}
.plans.m .form--radio .form--radio--input.checked {
  background: #00b68f;
}
.plans.m .form--radio .form--label--input {
  color: #00b68f;
}
.plans.m .form .form--row input {
  border-bottom-color: #00b68f;
}
.plans.m .plan .plan--title .m {
  display: inline-block;
}
.plans.m .plan .plan--price .m {
  color: #00b68f;
  display: inline-block;
}
.plans.m .plan .plan--price .m small {
  color: #00b68f;
}
.plans.m .plan .plan--title .p,
.plans.m .plan .plan--title .g,
.plans.m .plan .plan--price .p,
.plans.m .plan .plan--price .g {
  display: none;
}
.plans.m .plan--options .plan--option--p {
  background-image: url("../img/plans/icon/p_small_yellow.png");
}
.plans.m .plan--options .plan--option--m {
  width: 102px;
  height: 101px;
  background-image: url("../img/plans/icon/m_active_yellow.png");
}
.plans.m .plan--options .plan--option--g {
  background-image: url("../img/plans/icon/g_small_yellow.png");
}
.plans.m .plan--description .plan--description--m {
  display: block;
}
.plans.m.basket--bg {
  background-image: url("../img/plans/bg/medium.png");
}
.plans.g {
  color: #00b68f;
}
.plans.g h1,
.plans.g h2,
.plans.g h3,
.plans.g h5 {
  color: #ffcf46;
}
.plans.g hr {
  border-color: #00b68f;
}
.plans.g .delivery-time .delivery-time--line {
  background: #00b68f;
}
.plans.g .form--radio .form--radio--input {
  border-color: #00b68f;
}
.plans.g .form--radio .form--radio--input.checked {
  background: #00b68f;
}
.plans.g .form--radio .form--label--input {
  color: #00b68f;
}
.plans.g .btn--outline {
  border-color: #00b68f;
  color: #00b68f;
}
.plans.g .form .form--row input {
  border-bottom-color: #00b68f;
}
.plans.g .form .form--row select {
  background-image: url("../img/form/arrow_green.png");
}
.plans.g .plan .plan--title .g {
  display: block;
}
.plans.g .plan .plan--price .g {
  color: #ffcf46;
  display: inline-block;
}
.plans.g .plan .plan--price .g small {
  color: #ffcf46;
}
.plans.g .plan .plan--title .p,
.plans.g .plan .plan--title .m,
.plans.g .plan .plan--price .p,
.plans.g .plan .plan--price .m {
  display: none;
}
.plans.g .plan--options .plan--option--p {
  background-image: url("../img/plans/icon/p_small_green.png");
}
.plans.g .plan--options .plan--option--m {
  background-image: url("../img/plans/icon/m_small_green.png");
}
.plans.g .plan--options .plan--option--g {
  width: 103px;
  height: 102px;
  background-image: url("../img/plans/icon/g_active_green.png");
}
.plans.g .plan--description .plan--description--g {
  display: block;
}
.plans.g.basket--bg {
  background-image: url("../img/plans/bg/big.png");
}
.plans .table-responsive {
  margin: 25px 0;
}
.plans .plan-table-description {
  margin: 50px 0;
}
.plans .payment-method {
  margin: 50px 0;
}
.plans .confirm--button {
  margin-top: 30px;
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #00b68f;
  text-align: center;
  color: #ffcf46;
  font-weight: normal;
  line-height: 50px;
  padding: 0 40px;
  font-size: 30px;
}
.plans .confirm--button:hover {
  text-decoration: none;
  background-color: #00a481;
}
.plans .table-info {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .plans.basket--bg {
    background-size: unset;
  }
  .plans .plan {
    padding-top: 110px;
  }
  .plans .plan .call-to-action--button {
    display: inline-block;
  }
  .plans .plan .plan--options {
    margin: 0 4px;
  }
  .plans .plan .plan--description {
    padding: 0 60px 0 20px;
  }
  .plans .plan .plan--basket img {
    margin-top: 40px;
  }
}
.about-us .about-us--featured {
  margin: 50px 0;
}
.about-us .about-us--title {
  margin: 0 0 20px 0;
}
.about-us .about-us--highlight {
  margin-bottom: 70px;
}
.about-us .about-us--text {
  padding-left: 20px;
  margin-bottom: 70px;
}
.footer {
  margin-top: 40px;
  background: #ff6331;
  padding: 50px 0;
}
.footer h2 {
  margin-bottom: 30px;
  font-size: 25px;
  color: #ffcf46;
}
.footer p,
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer p {
  line-height: 190%;
}
.footer .certified,
.footer .logo {
  margin-top: 80px;
}
